<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PWA Converter</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon.svg" type="image/svg+xml">
</head>
<body class="font-roboto">
    <div class="overflow-x-hidden relative flex flex-col min-h-screen">
        <div class="w-40 h-40 bg-primary absolute  @(@ViewData["Title"] == "Score Page"  ? "3xl:fixed" : "lg:fixed") -right-20 -top-20 rounded-full"></div>
        <div class="hidden @(@ViewData["Title"] == "Score Page"  ? "2xl:block" : "lg:block") fixed w-40 h-40 bg-primary -left-20 -bottom-20 rounded-full"></div>

        <header class="absolute @(@ViewData["Title"] == "Score Page"  ? "3xl:fixed" : "lg:fixed") top-4 left-2">
            <nav>
                <a asp-route="default" class="flex items-center">
                    <img src="~/favicon.svg" alt="Website favicon" class="h-9" />
                    <span class="text-primary text-2xl font-black font-archivo">PWA Converter</span>
                </a>
            </nav>
        </header>
        <main class="grow flex flex-col" role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
